{{> header}}
<body>
<nav class="menu--left" role="navigation">
    <div class="menuToggle">
        <input type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>
        <ul class="menuItem">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Über mich</a></li>
            <li><a href="angebot.html">Angebot</a></li>

            <li><a href="contact.html">Kontakt</a></li>
        </ul>
    </div>
</nav>
<!-- Header Section -->
<main id="main" class="main">
    <header class="header" id="header">

    </header>

    <!-- Hero Section -->
    <section id="hero" class="hero redesigned-hero">
        <div class="hero-content">
            <div class="hero-background"></div>
            <div class="hero-text">
                <h1 class="animate__animated animate__fadeInDown">Über <span>Mich</span></h1>


            </div>
        </div>
    </section>

    <section id="about" class="enhanced-about-section">
        <div class="about-intro">
            <p class="about-description">Ich bin Natascha.
                <br>
                <br>
                Ich bin gelernte medizinische Praxisassistentin. Im Jahr 2023 habe ich die Ausbildung zur Hundetrainerin gemacht. Für mich war schon früh klar, dass ich mir ein Leben ohne Hund nicht vorstellen kann. Nach der Anschaffung meines jetzigen Hundes "Butch" wurde mir jedoch sofort klar, dass ich mehr über das Wesen vom Hund erfahren will.
                <br>
                Ich wollte meinen Hund verstehen und ihn bestmöglich in seiner Entwicklung unterstützen und trainieren. Doch nicht nur das Arbeiten mit den Hunden gefällt mir. Auch mit Menschen arbeite ich gerne zusammen. Daher darf ich jetzt mein Wissen weitergeben und auch andere Hundehalter/innen unterstützen auf dem Weg mit ihren treuen Begleitern.
            </p>
        </div>
        <div class="about-highlight">
            <img src="Asstes/uebermich.png" alt="Natascha with her dog" class="about-photo">
        </div>
    </section>
    <!-- Services Section -->



    <!-- Contact Section -->
</main>
{{> footer}}