{{> header}}
<body>
<nav class="menu--left" role="navigation">
    <div class="menuToggle">
        <input type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>
        <ul class="menuItem">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Über mich</a></li>
            <li><a href="angebot.html">Angebot</a></li>

            <li><a href="contact.html">Kontakt</a></li>
        </ul>
    </div>
</nav>
<!-- Header Section -->
<main id="main" class="main">
    <header class="header" id="header">

    </header>

    <!-- Hero Section -->
    <section id="hero" class="hero redesigned-hero">
        <div class="hero-content">
            <div class="hero-background"></div>
            <div class="hero-text">
                <h1 class="animate__animated animate__fadeInDown"> <span>Angebot</span></h1>
                <p class="animate__animated animate__fadeIn">Möchtest du herausfinden, warum dein Hund dieses Verhalten zeigt, und gemeinsam einen individuellen Trainingsplan erstellen, um wieder einen entspannten Alltag zu führen?</p>
                <a href="#angebot" class="cta-button animate__animated animate__fadeInUp">Jetzt Buchen!</a>
            </div>
        </div>
    </section>

    <section class="angebot" id="angebot">
        <div class="card-container">
            <div class="card">
                <img src="Asstes/hundetraining.png" alt="Service 1">
                <div class="card-content">
                    <h3 class="card-title">Einzelcoaching</h3>
                    <div class="list">
                        <li class="angebotListe">60-90 Minuten</li>
                        <li class="angebotListe">Kosten: CHF 80.-</li>

                    </div>

                    <p class="card-description">Hat dein Hund ein Problemverhalten. Zieht und pöbelt er an der Leine? Hört er nicht verbindlich auf den Rückruf? Sind Hundebegegnungen für euch eine Stresssituation?</p>
                    <a href="contact.html" class="cta">Jetzt Buchen!</a>
                </div>
            </div>

        </div>
    </section>


    <!-- Contact Section -->
</main>
{{> footer}}