</main>

<footer>
    <div class="footer-container">
        <div class="logoContainer">
            <img src="Asstes/logo_buna.PNG" alt="Buna Hundeschule Logo">
        </div>
        <div class="footer-links">
            <ul>
                <li><a href="index.html">Startseite</a></li>
                <li><a href="about.html">Über uns</a></li>
                <li><a href="angebot.html">Dienstleistungen</a></li>
                <li><a href="contact.html">Kontakt</a></li>
            </ul>
        </div>
        <div class="footer-social">

            <a href="https://www.instagram.com/buna_hundeschule/"><img src="Asstes/instagram-logo-24.png" alt="Instagram"></a>
        </div>
    </div>
</footer>
</body>
</html>