<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buna Hundeschule</title>
    <link rel="stylesheet" href="/css/style.css?v=1.0">
    <link rel="stylesheet" href="/css/burger.css">
    <link
            href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link rel="shortcut icon" href="Asstes/bildmarke_buna.png" type="image/x-icon">

</head>
<body>
<header>

</header>
