<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<header>
    <div class="logoContainer">
        <img src="/images/buna_logo.PNG" alt="">

    </div>
    <nav>
        <ul>
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Blog</a>
            </li>
            <li>
                <a href="">Buchen</a>
            </li>

            <li>
                <a href="">Standort</a>
            </li>
            <li>
                <a href="">Kurse</a>
            </li>
            <li>
                <a href="login.mustache">Log In</a>
            </li>
        </ul>
    </nav>
</header>
