<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/burger.css">

    <link
            href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
</head>
<body>
<nav class="menu--left" role="navigation">
    <div class="menuToggle">
        <input type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>
        <ul class="menuItem">
            <li><a href="index.html">Hom</a></li>
            <li><a href="about.html">Über mich</a></li>
            <li><a href="documents.html">Dokumente</a></li>
            <li><a href="galerie.html">Galerie</a></li>

            <li><a href="contact.html">Kontakt</a></li>
        </ul>
    </div>
</nav>
<!-- Header Section -->