{{> header}}

<main>
<section class="">
    <div class="hero">
        <div class="heroText">
            <h1>Dein <span>Hund</span> & <span> Du</span></h1> <br>
            <h1>Ein <span>Freund</span> für's <span>Lebe</span></h1>
        </div>
        <div class="cta">


            <div class="ball">
                <div class="ctaText">
                    <h4>
                        Buche jetzt <br>
                        Dein <span>Probetraining</span>
                    </h4>
                    <a href="#" class="ctaButton">Buchen</a>
                </div>
            </div>
        </div>
        <div class="heroImage">
            <img src="/images/hero_dog.png" alt="">
        </div>
    </div>

</section>

</main>
{{> footer}}
