{{> header}}

<main id="main" class="main">
    <header class="header" id="header">

    </header>

    <!-- Hero Section -->
    <section id="hero" class="hero redesigned-hero">
        <div class="hero-content">
            <div class="hero-background"></div>
            <div class="hero-text">
                <h1 class="animate__animated animate__fadeInDown">Über <span>Mich</span></h1>


            </div>
        </div>
    </section>

    <section id="about" class="enhanced-about-section">
        <div class="about-intro">
            <p class="about-description">My name is Natascha, and I am a trained medical assistant. In 2023, I completed my training as a dog trainer. For me, it was clear early on that I could not imagine a life without dogs. After getting my current dog, "Butch," I realized that I wanted to learn more about canine behavior to understand and support my pet in the best way possible. Now, I enjoy passing on my knowledge to help other dog owners build strong bonds with their loyal companions.</p>
        </div>
        <div class="about-highlight">
            <img src="Asstes/dog_with_owner.jpg" alt="Natascha with her dog" class="about-photo">
        </div>
    </section>
    <!-- Services Section -->
    <section id="services">
        <h2>Our Services</h2>
        <div class="services-list">
            <div class="service">
                <h3>Basic Training Course</h3>
                <p>Learn the essential commands with your dog to foster a solid foundation of obedience.</p>
            </div>
            <div class="service">
                <h3>Advanced Agility Course</h3>
                <p>Take your dog's agility to the next level with advanced techniques and commands.</p>
            </div>
            <div class="service">
                <h3>Behavior Consult</h3>
            </div>
        </div>
    </section>


    <!-- Contact Section -->
</main>
{{> footer}}
