{{> header}}


<nav class="menu--left" role="navigation">
    <div class="menuToggle">
        <input type="checkbox"/>
        <span></span>
        <span></span>
        <span></span>
        <ul class="menuItem">
            <li><a href="/">Home</a></li>
            <li><a href="/about">Über mich</a></li>
            <li><a href="/angebot">Angebot</a></li>

            <li><a href="/contact">Kontakt</a></li>
        </ul>
    </div>
</nav>
<!-- Header Section -->
<main id="main" class="main">
    <header class="header" id="header">

    </header>

    <!-- Hero Section -->
    <section id="hero" class="hero redesigned-hero">
        <div class="hero-content">
            <div class="hero-background"></div>
            <div class="hero-text">
                <h1 class="animate__animated animate__fadeInDown"><span>Buna Hundeschule</span></h1>
                <p class="animate__animated animate__fadeIn">Deine Reise zum Aufbau einer lebenslangen Bindung mit deinem Hund beginnt hier. Entdecke unsere Dienstleistungen und siehst du, wie wir dir und deinem pelzigen Freund helfen können, eine bessere Beziehung aufzubauen.</p>
                <a href="contact.html" class="cta-button animate__animated animate__fadeInUp">Jetzt Buchen!</a>
            </div>
        </div>
    </section>

    <section id="about" class="enhanced-about-section">
        <div class="about-intro">
            <h2 class="about-title">Gemeinsames Kennenlernen, Individuelle Test-Situationen herstellen, um Motiv des Verhaltens herauszufinden, dann individuelles angepasstes Coaching. </h2>


        </div>
        <div class="about-highlight">
            <img src="/images/uebermich.png" alt="Natascha with her dog" class="about-photo">
        </div>
    </section>
    <!-- Services Section -->



    <!-- Contact Section -->
</main>

<!-- Footer Section -->


{{> footer}}

